page{
	height:100%;
	width: 100%;
	.container{
	    display: flex;
		height:100%;
		width:100%;
		flex-direction: column;
		
			.nav{
				width: 100%;
				height: 34px;
				
				
				
				.navcontent{
				    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    height: 30px;
                    
                    text{
                        flex:1;
                        text-align: center;
                        height: 30px;
                        line-height: 30px;
                        color:3#2F6FAD;
						
                    }
					.active{
				    	color:#ff5555;
						border-bottom: 2px solid #Ff5555;
					  }
				    
				        
				}
				.navline{
				    height: 0px;
				    width: 100%;
				    position: relative;
				    
				    .line{
				        width:25%;
				        height: 50%;
				        background: #f55;
				        position:relative;
				        left: 0%;
				    }
				}
				
			}
		
		.mianswiper{
		    width: 100%;
		    flex: 1;
		    
		    .mainitem{
		        width:100%;
		        height:100%;
		        
		        scroll-view{
                    height: 100%;
                    width:100%;
                    overflow: hidden;
                }
                
                .bigimg{
                    width: 100%;
                    height: 150px;
                    image{
                        width:100%;
                        height:100%;
                    }
                }
                
                .listbox{
                    display: flex;
                    flex-wrap: wrap;
                    background: #ffefef;
                    
                    .item{
                        width:48%;
                        box-sizing: border-box;
                        padding: 5px;
                        background: #ffffff;
                        border-radius: 5px;
                        margin:8px 1% 0;
                        overflow: hidden;
                        
                        image{
                            width:100%;
                            height: 120px;
                        }
                        .h3{
                            padding: 3px 5px;
                            font-size: 12px;
                            color:#222222;
                        }
                        .p{
                            padding: 3px 5px;
                            font-size: 12px;
                            color:#999999;
                        }
                        .span{
                            padding: 3px 5px;
                            font-size: 12px;
                            color:red;
                        }
                    }
                }
                
                
                
                
		    }
		}
	}
}


