page{
    height: 100%;
    
    .container{
        height: 100%;
        width: 100%;
        
        .header{
            display: none;
            height: 44px;
            width:100%;
            background: #fff;
            position: absolute;
            top: 0;
            z-index: 1;
            background: rgba(255,250,250, 1);
        }
        .content{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            scroll-view{
                flex: 1;
                width: 100%;
                overflow: hidden;
                
                .top{
                    width: 100%;
                    height: 160px;
                    image{
                        width:100%;
                        height: 100%;
                    }
                }
                .h2{
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    color:#333;
                    text-align: center;
                },
                .html{
                    width:100%;
                    box-sizing: border-box;
                    padding:0 2%;
                    view{
                        font-size: 14px;
                        line-height: 20px;
                        color:#999;
                        padding:5px 0 12px 0;
                    }
                    image{
                        width:100%;
//                      padding: 2%;
                        height: 160px;
                    }
                }
            }
            
            .footer{
                height: 40px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 5px 0;
                view{
                    width: 33.333%;
                    height: 100%;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    color:#888;
                    image{
                        padding:5px 0;
                        width:20px;
                        height:20px;
                        vertical-align: middle;     
                    }
                    text{
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
